<!DOCTYPE html>
<html lang="en">
<head>
    <title>dsd</title>
    
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div>
        <h3><%= blog.title %></h3>
        <p><%= blog.discription %></p>
        <p><%= blog.body %></p>
    </div>

    <%-  include('./partials/footer.ejs') %>
</body>
</html>